---
import Footer from '@/components/Footer.astro'
import Head from '@/components/Head.astro'
import Header from '@/components/Header.astro'
import 'lenis/dist/lenis.css'

export interface Props {
  title: string
  description: string
}
const { title, description } = Astro.props
---

<script>
  import Lenis from 'lenis'
  const lenis = new Lenis({
    autoRaf: true,
  })
</script>

<html lang='en'>
  <head>
    <Head title={title} description={description} />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  .layout {
    display: flex;
    flex-direction: column;
    min-height: min-content;
    position: relative;
  }
</style>
